{% extends 'baseLogin.html.twig' %}

{% block title %} changer de mot de passe {% endblock %}

{% block body %}

{{ parent() }}

<div class="container">
	<div class="row">
		<div class="col"><p style="font-family: 'roboto'; text-align: center;" class="h3">Récupération de mot de passe</p>
		{{ form_start(changePassword) }}
		{{ form_row(changePassword.newPassword) }}
        <button class="btn btn-lg btn-primary" type="submit">Changer mon mot de passe</button>
		{{ form_end(changePassword) }}
		</div>
	</div>


</div>
{% endblock %}