{% extends 'base.html.twig' %}

{% block title %} Choisis ton personnage ! {% endblock %}

{% block body %}

{{ parent() }}

<div class="container">
	<div class="row">
	<h3>Choisis ton personnage !</h3>
	</div>
	<div class="row">
		{% for img in playableCharacters %}

		<a href="{{ path('altic_pupilTraining', {
			tableNumber:tableNumber, 
			levelNumber:levelNumber,
			mapName:mapName, 
			avatarImage:img.image|split('.')[0]
		}) }}"><img class="img-thumbnail" style="height: 100px;" src="{{ asset('images/pupil/characters/' ~ img.image) }}"></a>

		{% endfor %}
	</div>
</div>

{% endblock %}