{% extends 'base.html.twig' %}

{% block title %} Altic {% endblock %}

{% block body %}

	{{ parent() }}

	<h1 style="font-family: 'roboto'; text-aligne: justified;" class="display-4">Aidez Célestin lors de ses fabuleuses aventures dans la contrée d'Altic !</h1>

{% endblock %}
