{% extends 'base.html.twig' %}

{% block title %} Modification de compte {% endblock %}

{% block body %}

{{ parent() }}

<div class="container">


	{{form(modifyForm)}}

	<div class="row">
		<div class="col"><a href="/deleteAccount"style="text-align: center; font-family: 'roboto';" class="h4">Supprimer mon compte</p></div>
	</div>


</div>

{% endblock %}