{% extends 'base.html.twig' %}

{% block title %} Bienvenue, {{ userName }} {% endblock %}

{% block body %}

{{ parent() }}

<div class="container" style="font-family: 'roboto';">


	<div class="row">
		
		<div class="col-sm-4 align-self-end"><a href="/pupil">Retour à la carte <br/> <img style="max-height: 100px; width: auto;" src="https://www.wpmap.org/wp-content/uploads/2015/01/political-map-of-Asia.gif"> </a></div>

		<div class="col-sm-4 align-self-center"><p style="text-align: center;" class="h3">Table de {{tableNumber}}</p></div>

	</div>

	<div class="row"></div>


</div>

{% endblock %}